<!DOCTYPE html>
<html>
	<head>
		<title>Push Up Website</title>
		<style>
			body {
				background-image: url('main.jpg');
				background-size: 1500px 1000px;
				background-repeat: no_repeat;
			}
			h1 {
				font-size: 50px;
				text-align: center;
				line-height: 1.5;
				vertical-align: middle;
				padding-top: 20px;
				padding-bottom: 20px;
			}
			li {
				font-size: 30px;
				text-align: center;
				line-height: 1.5;
				vertical-align: middle;
				padding-top: 20px;
				padding-bottom: 20px;
				list-style: none;
			}
		</style>

	</head>
	<body>

		<header>
			<h1>Choose the training to do.</h1>
			<nav>
				<ul>
					<li><a href="standard1.html">Push Up</a></li>
					<li><a href="standard2.html">Squat</a></li>
					<li><a href="standard3.html">아이야이야</a></li>
				</ul>
			</nav>
		</header>

	</body>
</html>