<!DOCTYPE html>
<html>
	<head>
		<title>Healthy Hands</title>
		<style>
			body {
				background-image: url("{{url_for('static',filename='main.jpg')}}");
				background-size: 1500px 1000px;
				background-repeat: no_repeat;
			}
			h1 {
				font-size: 50px;
				text-align: center;
				line-height: 1.5;
				vertical-align: middle;
				padding-top: 20px;
				padding-bottom: 20px;
			}
			
		</style>

	</head>
	<body>

		<header>
			<h1>Search Your Record.</h1>
		</header>
		<form id="myForm" action="record.html" method="post" style ="text-align: center;">
			<label for="username" style ="text-align: center; font-size: 30px;line-height: 1.5;padding-top: 20px;padding-bottom: 20px;">Name:</label>
			<input type="text" placeholder="Can Enter name in Korean" id = "username" name = "username" style="font-size: 30px;">
			<input type="submit" value="Enter" style="font-size: 30px;">
		</form>

		<script>
			document.getElementById('myForm').addEventListener('submit', function(event) {
				event.preventDefault();
            
				var username = document.getElementById('username').value;
            
				window.location.href = 'record?username=' + encodeURIComponent(username);
			});
		</script>
	</body>
</html>
